link(rel='icon', type='image/png', href='assets/favicon/client/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/svg+xml', href='assets/favicon/client/favicon.svg')
link(rel='shortcut icon', href='assets/favicon/client/favicon.ico')
link(rel='apple-touch-icon', sizes="180x180", href="assets/favicon/client/apple-touch-icon.png")
meta(name="apple-mobile-web-app-title" content="Properia")
link(rel='manifest', href='assets/favicon/client/site.webmanifest')
