doctype html

html(lang='en')

    head
        title Properia - The best way to find your dream home
        meta(name='viewport', content='width=device-width, initial-scale=1')

        |
        |

        // Favicon
        include ../includes/landing/head/_favicon.pug

        |
        |

        // TODO: S.E.0 here

        |
        |

        // App styles
        link(rel='stylesheet', href='assets/css/app.css')

        block head
    body
        block content

        |
        |

        // App scripts
        script(src='assets/js/app.js')

        block scripts
